
billion_prices_india/.idea/workspace.xml

billion_prices_india/billion_prices_india/spiders/__init__.pyc

billion_prices_india/billion_prices_india/spiders/crawler.pyc

billion_prices_india/billion_prices_india/spiders/PriceDekhoMobileSpider.pyc

billion_prices_india/pricedekho_products.xml

billion_prices_india/.idea/workspace.xml

billion_prices_india/.idea/workspace.xml

#
# Generated compiled files such as .pyc
#
#
